footer {
    background-color: var(--dark-200);
    overflow-x: hidden;
    padding: 3em;
    font-size: 0.8em;
}

footer a {
    color: var(--font-light);
    display: inline-flex;
    align-items: center;
}

